body{
    background-image: url(https://img.freepik.com/free-vector/doodle-object-alarm-clock_1308-36334.jpg?w=2000);
}
.time{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    border: 4px solid wheat;
    background-color: aliceblue;
    color: brown;
}